{% extends 'railways/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2 class="margin">Environment Friendly Railway Coach Toilet System</h2>
        <p>The Indian Railway runs several long distance trains involving journeys up to three nights. The existing
            coach toilet system consists of a lavatory in which the excreta are discharged directly to the ground through
            the lavatory chute. The coach toilets are by and large convenient to a verity of users, robust and almost
            maintenance free. However, the present system has some major concerns due to discharge of fecal matter on
            the track. These concerns include: damage to the rails, unacceptable aesthetic and hygienic/sanitary
            conditions, particularly on the railway stations, and non compliance to the environment
            regulations/standards/practices. An exercise is being carried out in this mission to conceptualize,
            design, and indigenously develop a working/ready to install environment-friendly coach toilet system
            for Indian Railways' passenger trains.</p>
        <p>The toilet system will have the following attributes:</p>
        <ul>
          <li>Convenient to a variety of users, robust, and minimum operation and maintenance complications.</li>
          <li>Prevent damage to the railway track and coaches.</li>
          <li>Maintain hygienic/sanitary conditions</li>
          <li>Compliance with global environmental regulations/standard/ practices.</li>
        </ul>
        <p><b>Approach:</b> Use of Advanced Technologies with Traditional Wisdom. </p>
        <p><b>Features:</b> </p>
        <ul>
          <li> Improved Toilet Seat: Water seal with negligible amount of freshwater usage</li>
          <li>Simple device for solid-liquid separation with no moving parts and external energy requirement</li>
          <li>Compact novel device for recycling flush liquid </li>
          <li>Essentially no discharge/emission/disposal of objectionable solid/liquid/gaseous streams anywhere </li>
          <li>Byproducts: Liquid Fertilizer and Quality Organic Manure</li>
        </ul>
    </div>

{% endblock %}