{% extends 'railways/base.html' %}

{% block content %}

        <div class="container">
    <h1>Funding Components</h1>
    <div class="row">
      <div class="col-md-4">
        Ministry of Human Resource Development
      </div>
      <div class="col-md-4">
        :
      </div>
      <div class="col-md-4">
        50%
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Ministry of Railways
      </div>
      <div class="col-md-4">
        :
      </div>
      <div class="col-md-4">
        30%
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Industries
      </div>
      <div class="col-md-4">
        :
      </div>
      <div class="col-md-4">
        20%
      </div>
    </div>
            <footer>
                <h4><small>&copy;2006, IIT Kanpur, All Rights Reserved</small></h4>
            </footer>
        </div>
{% endblock %}