{% extends 'railways/base.html' %}

{% block content %}
<div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Contact:</h4>
          </div>
          <div class="col-md-8">
            <em>Prof. N S Vyas, Mission Coordinator, IIT Kanpur</em><br /> Phone: <a href="tel:+91-512-2597040">+91-512-2597040</a><br /> Fax: <a href="fax:2597232">2597232</a> <br />Email: <a href="mailto:vyas@iitk.ac.in">vyas@iitk.ac.in</a>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <h4>Mission Implementation and Coordination Committee (MICC)</h4>
          </div>
          <div class="col-md-8">
            <em>Prof. S G Dhande</em>, Director, IIT Kanpur (Chairman)<br />
            <em>Shri H S Pannu</em>, Director General RDSO, (Co-Chair)<br />
            <em>Prof. N S Vyas</em>, IIT Kanpur (Mission Coordinator)<br />
            <em>Dr. G Sundar Rajan</em>, Director ARCI, Hyderabad<br />
            <em>Prof. G P Sinha</em>, Director CMERI, Durgapur<br />
            <em>Shri O P Tantia</em>, MD, BESCO Ltd., Kolkata<br />
            <em>Dr. S D Sherlekar</em>, Head Embedded Systems, TCS, Bangalore.<br />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <h4>Permanent Special Invitees</h4>
          </div>
          <div class="col-md-8">
            ED Finance RDSO<br />
            ED Research RDSO<br />
            Deputy Director, IIT/Kanpur<br />
            Dean R&D, IIT Kanpur.
          </div>
        </div>
        <footer>
            <h4><small>&copy;2006, IIT Kanpur, All Rights Reserved</small></h4>
        </footer>
</div>
{% endblock %}