{% extends 'railways/base.html' %}

{% block content %}
<div class="container">
    <h1>Mission Goals</h1>
    <ul>
      <li> To develop and adopt state-of- the-art safety and control technologies defined by needs related to Indian conditions; to implement projects aimed at achieving higher throughput, lower cost of transmission and safer train movement. </li>
      <li>To encourage and initiate R &amp; D activities pertinent to Indian Railways in academic institutions and laboratories and establish convergence and synergy among them. </li>
      <li>To evolve and establish the academia-research institution-industry consortium approach as a viable and vibrant mission mode of research and development. </li>
      <li>To disseminate technologies through participatory approach to other application areas </li>
    </ul>
    <br>
    <hr>
    <br>
    <h2>Mission Approach</h2>
    <p>
                IIT Kanpur and RDSO Lucknow are the major collaborators in the mission. A trident consortium comprising of
            </p>
    <ul>
      <li>Academic and Research institutions</li>
      <li>Railway Organizations</li>
      <li>Industry</li>
    </ul>
            <p>
        has been formed for effective definition and implementation of projects. The constituents of the consortium collaborate to bring expertise and share responsibilities. RDSO provides domain knowledge and experience to articulate problems and conceptualize projects. Academic institutions like IITs and CSIR laboratories contribute towards problem analysis, design synthesis and prototype development; the industry is providing inputs relevant for adoption of technology and its commercialization.
            </p>
    <footer>
        <h4><small>&copy;2006, IIT Kanpur, All Rights Reserved</small></h4>
    </footer>
</div>
{% endblock %}