{% extends 'railways/base.html' %}

{% block content %}
    <div class="container">
        <div id="content">
            <p> Railways have been the engine of economic and technical growth and development in India. Railway Safety
                is not merely an area of national concern but also poses challenges to the engineering and research community
                of the country.</p>
            <p>A Technology Mission has been launched to focus national attention and drive modern technologies of monitoring,
            control, communications, design, electronics and materials for Railway Safety. The earlier national programs on
            space and defense research have not merely achieved goals specific to the missions, but have also provided impetus
            to technology endeavors in institutions all across the country. A Technology Mission on Railways will similarly
            help to initiate and incubate design and development projects of significant national importance. </p>
            <p>Technology issues on Railway safety and economy relate to multitude of engineering disciplines. The mission will
            help to pool relevant engineering knowledge, expertise and resources available in various research organizations
            and academic institutions in order to address these issues in an efficient manner.</p>
            <p>The Mission objective is to develop and adopt state-of-the-art safety, control and design technologies defined by
            needs related to Indian conditions. The Mission will formulate and implement projects aimed towards achieving higher
            throughput, lower cost of transmission per unit and safer train movement.</p>
            <p>Indian Railways are the backbone of the country's economy and an integral part of our social fabric. It is one of
            the largest rail networks in the world with a total of approximately 63,000 route kilometers. Indian Railways run
            nearly 14,000 trains and carry 14 million passengers and more than a million tons of freight every day. Unlike
            developed countries, Indian Railways operate under vastly challenging circumstances of over crowding, low cost
            of travel, longer trains etc. The challenges posed in terms of technology development and implementation, are
            also thus greater, varied and unique in nature. These challenges also provide enormous opportunities for utilization
            of available human and technical resources for development of safer and economical Railway network. India
            competes with nations of the world in Space, Nuclear and Software Technologies. It is important that Railways'
            mammoth technical network be energized through research and development, in order to spur widespread
            infrastructure and economic development. </p>
            <p>This Technology Mission has envisioned such a <em>RAILmap</em>.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a onclick="pm()" href="#">Announcement by Hon'ble Prime Minister</a>
            </div>
            <div class="col-md-6">
                <a onclick="rm()" href="#">Announcement by Hon'ble Railway Minister</a>
            </div>
        </div>
        <hr />
        <div id="show">

        </div>
        <footer>
            <h4><small>&copy;2006, IIT Kanpur, All Rights Reserved</small></h4>
        </footer>
    </div>
{% endblock %}