{% extends 'railways/base.html' %}
{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>News and Events</h1>
	        <ul>
	          <li>
	            Unveiling of Technologies by Shri Arjun Singh
	          </li>
	          <ul>
	            <li>
	              <a href="#insideit" onclick="unv()">15th September 2006</a>
	            </li>
	          </ul>
	        </ul>
	        <ul>
	          <li>
	            Times of india
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('toi17_03_07.jpg')">17 March 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toi15_09_06.jpg')">15 September 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toi16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toipatna16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toi25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toi_dec_05.jpg')">December 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('toi_04.jpg')">2004</a>
	            </li>
	          </ul>
	          <li>
	            Hindustan Times
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('ht19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('ht16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('ht15_05_06.jpg')">15 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('ht25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('ht11_12_05.jpg')">11 December 2005</a>
	            </li>
	          </ul>
	          <li>
	            The Indian Express
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('IExp11_01_07.jpg')">11 January 2007</a>
	            </li>
	          </ul>
	          <li>
	            Business Standard
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('business_standard10_03_06.jpg')">10 March 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('business_standard5_12_05.jpg')">5 December 2005</a>
	            </li>
	          </ul>
	          <li>
	            Dainik Jagran
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('dj20_06_07.jpg')">20 June 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj17_03_07.jpg')">17 March 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj_dec_05.jpg')">December 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj1_dec_05.jpg')">December 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj24_11_05.jpg')">24 November 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj1_05.jpg')">2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('dj2_05.jpg')">2005</a>
	            </li>
	          </ul>
	          <li>
	            Aaj
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj11_01_07.jpg')">11 January 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj16_09_06.jpg')">16 September 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj27_06_06.jpg')">27 June 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj21_12_05.jpg')">21 December 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj11_12_05.jpg')">11 December 2005</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('aaj_dec_05.jpg')">December 2005</a>
	            </li>
	          </ul>
	          <li>
	            Amar Ujjala
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('au19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('au11_02_07.jpg')">11 February 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('au16_05_06.jpg')">16 May 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('au25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('au_05.jpg')">2005</a>
	            </li>
	          </ul>
	          <li>
	            Hindustan
	          </li>
	          <ul>
	            <li>
	              <a  href="#toshow" onclick="showitem('h20_06_07.jpg')">20 June 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('h19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('h17_03_07.jpg')">17 March 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('h16_09_06.jpg')">16 September 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('h25_02_06.jpg')">25 February 2006</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('h_dec_05.jpg')">December 2005</a>
	            </li>
	          </ul>
	          <li>
	            Rashtriya Sahara
	          </li>
	          <ul>
	            <li>
	              <a href="#toshow" onclick="showitem('s19_05_07.jpg')">19 May 2007</a>
	            </li>
	            <li>
	              <a href="#toshow" onclick="showitem('s25_02_06.jpg')">25 February 2006</a>
	            </li>
	          </ul>
	        </ul>
				</div>
				<div class="col-md-8">
					<div id="insideit">

					</div>
					<div  id="toshow">

					</div>
				</div>
			</div>
			<footer>
				<h4><small>&copy;2006, IIT Kanpur, All Rights Reserved</small></h4>
			</footer>
		</div>
{% endblock %}
